server:
  address: 127.0.0.1
  port: 31000
  netty:
    connection-timeout: 6s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 60
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@101.43.192.155:3000/eureka/
    registry-fetch-interval-seconds: 60


data:
  shardingDatabases:
  shardingTables:
  shardingTableSizePerDataBase: 2
  dataCenterToDatabaseMappings:
  workerToTableMappings:
  broadcastTables: [ ]
  singleDatabasesWithTables:
    - url: jdbc:mysql://43.138.111.53:3306/portal
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: LiuZhiyi20200805
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maximumPoolSize: 4
      minimumIdle: 2
      idleTimeout: 5
      testQuery: SELECT 1 FROM DUAL
      readOnly: false
      autoCommit: false
      singleTables: [ bulletin,undo_log ]
  safeRowBoundsEnabled: false
  safeResultHandlerEnabled: false
  mapUnderscoreToCamelCase: false
  aggressiveLazyLoading: false
  multipleResultSetsEnabled: false
  useGeneratedKeys: false
  useColumnLabel: true
  cacheEnabled: false
  callSettersOnNulls: false
  useActualParamName: false
  returnInstanceForEmptyRow: false
  shrinkWhitespacesInSql: false
  nullableOnForEach: false
  localCacheScope: SESSION
  jdbcTypeForNull:
  defaultStatementTimeout: 30000
  defaultFetchSize: 100
  defaultResultSetType: DEFAULT
  defaultExecutorType: BATCH
  autoMappingBehavior: FULL
  autoMappingUnknownColumnBehavior: FAILING
  lazyLoadingEnabled: false
  mapperLocation: classpath:mapper/*.xml
  props:
    sql.show: true
    sql.simple: false
    executor.size: 128
    max.connections.size.per.query: 2
    check.table.metadata.enabled: true
    query.with.cipher.column: false
    xa.transaction.manager.type: Atomikos
  debugLogging: true


identity:
  dataCenter: 0
  worker: 0
  serviceName: blue-portal
  bootSeconds: 1618790400
  bufferPower: 3
  paddingFactor: 50
  paddingCorePoolSize: 1
  paddingMaximumPoolSize: 2
  keepAliveSeconds: 128
  paddingBlockingQueueSize: 1024
  paddingScheduled: true
  paddingScheduledCorePoolSize: 2
  paddingScheduledInitialDelayMillis: 5000
  paddingScheduledDelayMillis: 15000


cache:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  host: 101.43.192.155
  port: 6379
  password: LiuZhiyi20200805
  maxRedirects: 4
  minIdle: 4
  maxIdle: 64
  maxTotal: 128
  maxWaitMillis: 16
  autoReconnect: true
  bufferUsageRatio: 32.0
  cancelCommandsOnReconnectFailure: false
  pingBeforeActivateConnection: false
  requestQueueSize: 64
  publishOnScheduler: true
  tcpNoDelay: true
  connectTimeout: 10
  keepAlive: false
  suspendReconnectOnProtocolFailure: false
  fixedTimeout: 4
  commandTimeout: 4
  shutdownTimeout: 8
  shutdownQuietPeriod: 4
  entryTtl: 60


caffeine:
  maximumSize: 1024
  expiresSecond: 10


executor:
  corePoolSize: 4
  maximumPoolSize: 8
  keepAliveSeconds: 64
  blockingQueueCapacity: 128
  threadNamePre: blue-summer


scheduler:
  threadCap: 4
  queuedTaskCap: 4096
  threadNamePre: blue-summer-scheduler
  ttlSeconds: 128


redisson:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  host: 101.43.192.155
  port: 6379
  password: LiuZhiyi20200805
  scanInterval: 8000
  checkSlotsCoverage: false
  tcpNoDelay: true
  masterConnectionMinimumIdleSize: 2
  slaveConnectionMinimumIdleSize: 2
  masterConnectionPoolSize: 2
  slaveConnectionPoolSize: 2
  subscriptionConnectionMinimumIdleSize: 2
  subscriptionConnectionPoolSize: 2
  subscriptionsPerConnection: 2
  subscriptionMode: MASTER
  timeout: 60000
  connectTimeout: 60000
  idleConnectionTimeout: 32000
  retryAttempts: 2
  retryInterval: 4000
  keepAlive: true
  dnsMonitoringInterval: -1
  pingConnectionInterval: 300000
  executorCorePoolSize: 4
  executorMaximumPoolSize: 8
  executorKeepAliveSeconds: 64
  executorBlockingQueueCapacity: 128
  maxTryLockWaitingMillis: 10000


rest:
  maxConnections: 64
  workerCount: 64
  useGlobalResources: false
  connectTimeoutMillis: 7000
  useTcpNoDelay: false
  protocols: [ HTTP11,H2,H2C ]
  responseTimeoutMillis: 3000
  readTimeoutMillis: 3000
  writeTimeoutMillis: 3000
  maxByteInMemorySize: 1048576


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://43.138.44.171
    port: 2181
    username: blue
    password: LiuZhiyi20200805
    file: D:/locallogs/dubbo/portal/registry.properties
    check: false
    timeout: 60000
    simplified: false
#  metadata-report:
#    address: zookeeper://43.138.44.171
#    port: 2181
#    username: blue
#    password: LiuZhiyi20200805
#    timeout: 120000
#    default: true
#    check: false
  application:
    id: summer-portal
    name: summer-portal
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: false
  protocol:
    name: dubbo
    host: localhost
    port: 32000
    accesslog: D:/locallogs/dubbo/portal/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
    filter: -exception
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


debug: false