server:
  address: 127.0.0.1
  port: 15000
  netty:
    connection-timeout: 16s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 300
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@172.16.204.75:3000/eureka/
    registry-fetch-interval-seconds: 300


cors:
  allowedOrigins: [ "*" ]
  allowedMethods: [ "*" ]
  allowedHeaders: [ "*" ]
  exposedHeaders: [ "*" ]
  allowCredentials: true
  maxAgeSeconds: 1728000
  allowedOriginPatterns: [ /** ]


web:
  maxInMemorySize: 4096


identity:
  dataCenter: 0
  worker: 0
  serviceName: blue-verify
  bootSeconds: 1618790400
  bufferPower: 3
  paddingFactor: 50
  paddingCorePoolSize: 1
  paddingMaximumPoolSize: 2
  keepAliveSeconds: 128
  paddingBlockingQueueSize: 1024
  paddingScheduled: true
  paddingScheduledCorePoolSize: 2
  paddingScheduledInitialDelayMillis: 5000
  paddingScheduledDelayMillis: 15000


executor:
  corePoolSize: 2
  maximumPoolSize: 8
  keepAliveSeconds: 64
  blockingQueueCapacity: 2048
  threadNamePre: blue-summer


scheduler:
  threadCap: 4
  queuedTaskCap: 4096
  threadNamePre: blue-summer-scheduler
  ttlSeconds: 128


cache:
  serverMode: SINGLE
  nodes: [ 172.18.7.1:6379,172.18.7.1:6380,172.18.7.2:6379,172.18.7.2:6380,172.18.7.3:6379,172.18.7.3:6380 ]
  host: 172.16.204.75
  port: 6379
  password:
  maxRedirects: 4
  minIdle: 4
  maxIdle: 64
  maxTotal: 128
  maxWaitMillis: 16
  autoReconnect: true
  bufferUsageRatio: 32.0
  cancelCommandsOnReconnectFailure: false
  pingBeforeActivateConnection: false
  requestQueueSize: 64
  publishOnScheduler: true
  tcpNoDelay: true
  connectTimeout: 10
  keepAlive: false
  suspendReconnectOnProtocolFailure: false
  fixedTimeout: 4
  commandTimeout: 4
  shutdownTimeout: 8
  shutdownQuietPeriod: 4
  entryTtl: 60


limit:
  replenishRate: 1
  burstCapacity: 3


risk:
  illegalExpireSeconds: 10


request:
  validContentTypes: [ application/json ]
  maxUriLength: 256
  maxHeaderCount: 16
  maxHeaderLength: 2048
  maxContentLength: 2048


response:
  existenceBodyTypes: [ application/json ]


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://172.16.204.75
    port: 2181
    username:
    password:
    file: D:/locallogs/dubbo/verify/registry.properties
    check: false
    timeout: 60000
    simplified: false
#  metadata-report:
#    address: zookeeper://172.16.204.75
#    port: 2181
#    username:
#    password:
#    timeout:
#    default: true
#    check: false
#    sync-report: false
#    report-metadata: false
  application:
    id: summer-verify
    name: summer-verify
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: false
  protocol:
    name: dubbo
    host: localhost
    port: 16000
    accesslog: D:/locallogs/dubbo/verify/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
    filter: -exception
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


producers:
  configs:
    requestEvent:
      services: [ 172.16.204.75:6650 ]
      enableTls: false
      tlsTrustCertsFilePath:
      tlsCertFilePath:
      tlsKeyFilePath:
      tlsAllowInsecureConnection:
      tlsHostnameVerificationEnable:
      listenerName:
      operationTimeoutMillis: 30000
      statsIntervalMillis: 60000
      ioThreads: 1
      listenerThreads: 1
      connectionsPerBroker: 1
      useTcpNoDelay: true
      memoryLimitKiloBytes: 512
      maxConcurrentLookupRequests: 60
      maxLookupRequest: 50000
      maxLookupRedirects: 3
      maxNumberOfRejectedRequestPerConnection: 50
      keepAliveIntervalMillis: 30000
      connectionTimeoutMillis: 60000
      startingBackoffIntervalMillis: 300
      maxBackoffIntervalMillis: 600
      enableBusyWait: false
      clockZoneId: Asia/Shanghai
      enableTransaction: false
      enableProxy: false
      proxyServiceUrl:
      proxyProtocol: SNI
      topic: requestEvent
      producerName: verifyRequestEventProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL


consumers:
  configs:
    illegalMark:
      services: [ 172.16.204.75:6650 ]
      enableTls: false
      tlsTrustCertsFilePath:
      tlsCertFilePath:
      tlsKeyFilePath:
      tlsAllowInsecureConnection:
      tlsHostnameVerificationEnable:
      listenerName:
      operationTimeoutMillis: 30000
      statsIntervalMillis: 60
      ioThreads: 1
      listenerThreads: 1
      connectionsPerBroker: 2
      useTcpNoDelay: true
      memoryLimitKiloBytes: 1024
      maxConcurrentLookupRequests: 60
      maxLookupRequest: 1000
      maxLookupRedirects: 2
      maxNumberOfRejectedRequestPerConnection: 50
      keepAliveIntervalMillis: 30000
      connectionTimeoutMillis: 10000
      startingBackoffIntervalMillis: 1000
      maxBackoffIntervalMillis: 30000
      enableBusyWait: true
      clockZoneId: Asia/Shanghai
      enableTransaction: false
      enableProxy: false
      proxyServiceUrl:
      proxyProtocol: SNI
      topics: [ illegalMark ]
      topicsPattern:
      subscriptionName: illegalMarkSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: verifyIllegalMarkConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: illegalMark
      retryLetterTopic: illegalMark
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true


verify:
  keyLength: 16
  randomType: ALPHANUMERIC
  verifyLength: 16
  minLength: 4
  maxLength: 32
  expireMillis: 300000
  repeatable: true


imagev:
  keyLength: 16
  keyRandomType: ALPHANUMERIC
  randomType: ALPHANUMERIC
  imageType: png
  verifyLength: 7
  expireMillis: 300000
  allow: 10
  sendIntervalMillis: 30000

smsv:
  verifyLength: 7
  expireMillis: 300000
  allow: 1
  sendIntervalMillis: 30000

mailv:
  verifyLength: 7
  expireMillis: 300000
  allow: 1
  sendIntervalMillis: 30000


image:
  border: true
  borderColor: green
  borderThickness: 1
  producerImpl: com.google.code.kaptcha.impl.DefaultKaptcha
  textProducerImpl: com.google.code.kaptcha.text.impl.DefaultTextCreator
  textProducerChar: blue summer
  textProducerCharLength: 5
  textProducerFontNames: Arial,Courier
  textProducerFontSize: 40
  textProducerFontColor: cyan
  textProducerCharSpace: 2
  noiseImpl: com.google.code.kaptcha.impl.DefaultNoise
  noiseColor: cyan
  obscurificatorImpl: com.google.code.kaptcha.impl.WaterRipple
  wordImpl: com.google.code.kaptcha.text.impl.DefaultWordRenderer
  backgroundImpl: com.google.code.kaptcha.impl.DefaultBackground
  backgroundClearFrom: red
  backgroundClearTo: yellow
  imageWidth: 200
  imageHeight: 50


sender:
  smtpAttrs:
    - user: yunfei0221@outlook.com
      password: Fei19890116
      props:
        mail.smtp.auth: true
        mail.smtp.host: smtp.office365.com
        mail.smtp.port: 587
        mail.smtp.ssl: true
        mail.smtp.starttls.enable: true
        mail.debug: false

  corePoolSize: 2
  maximumPoolSize: 8
  keepAliveSeconds: 64
  blockingQueueCapacity: 2048
  threadNamePre: blue-mail-sender
  bufferSize: 2
  throwableForRetry: [ jakarta.mail.FolderClosedException ]
  retryTimes: 1
  withDKIM: false
  domainKeyFile: classpath:dkim/selector1.pem
  domain: outlook.com
  selector: selector1


debug: false