server:
  address: 127.0.0.1
  port: 15000
  netty:
    connection-timeout: 16s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 60
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@172.16.202.219:3000/eureka/
    registry-fetch-interval-seconds: 60


cors:
  allowed-origins: [ "*" ]
  allowed-methods: [ "*" ]
  allowed-headers: [ "*" ]
  exposed-headers: [ ]
  allow-credentials: true
  max-age-seconds: 1728000
  allowed-origin-patterns: [ /** ]


web:
  max-in-memory-size: 4096


identity:
  data-center: 0
  worker: 0
  service-name: blue-verify
  boot-seconds: 1618790400
  buffer-power: 3
  padding-factor: 50
  padding-core-pool-size: 1
  padding-maximum-pool-size: 2
  keep-alive-seconds: 128
  padding-blocking-queue-size: 1024
  padding-scheduled: true
  padding-scheduled-core-pool-size: 2
  padding-scheduled-initial-delay-millis: 5000
  padding-scheduled-delay-millis: 15000


mongo:
  address-attrs:
    - address: 172.16.202.219
      port: 27017
  auth: false
  auth-base: admin
  user-name:
  password:
  database: verify
  retry-reads: false
  retry-writes: false
  application-name: blue-media
  uuid-representation: JAVA_LEGACY
  socket-connect-timeout-millis: 60000
  socket-read-timeout-millis: 60000
  socket-receive-buffer-size: 10000
  socket-send-buffer-size: 256
  cluster-connection-mode: SINGLE
  cluster-type: STANDALONE
  cluster-local-threshold-millis: 60000
  server-selection-timeout-millis: 60000
  pool-max-size: 12
  pool-min-size: 2
  pool-max-wait-time-millis: 60000
  pool-max-connection-lifeTime-millis: 60000
  pool-max-connection-idle-time-millis: 60000
  pool-maintenance-initial-delay-millis: 60000
  pool-maintenance-frequency-millis: 60000


executor:
  core-pool-size: 2
  maximum-pool-size: 8
  keep-alive-seconds: 64
  blocking-queue-capacity: 2048
  thread-name-pre: blue-summer


message:
  message-location: classpath:i18n/message
  element-location: classpath:i18n/element





cache:
  server-mode: SINGLE
  nodes: [ 172.18.7.1:6379,172.18.7.1:6380,172.18.7.2:6379,172.18.7.2:6380,172.18.7.3:6379,172.18.7.3:6380 ]
  address: 172.16.202.219:6379
  password:
  max-redirects: 4
  min-idle: 4
  max-idle: 64
  max-total: 128
  max-wait-millis: 16
  auto-reconnect: true
  buffer-usage-ratio: 32.0
  cancel-commands-on-reconnect-failure: false
  ping-before-activate-connection: false
  request-queue-size: 64
  publish-on-scheduler: true
  tcp-no-delay: true
  connect-timeout: 10
  keep-alive: false
  suspend-reconnect-on-protocol-failure: false
  command-timeout: 4
  shutdown-timeout: 8
  shutdown-quiet-period: 4
  entry-ttl: 60


redisson:
  server-mode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  address: 172.16.202.219:6379
  password:
  scan-interval: 8000
  check-slots-coverage: false
  tcp-no-delay: true
  master-connection-minimum-idle-size: 2
  slave-connection-minimum-idle-size: 2
  master-connection-pool-size: 2
  slave-connection-pool-size: 2
  subscription-connection-minimum-idle-size: 2
  subscription-connection-pool-size: 2
  subscriptions-per-connection: 2
  subscription-mode: MASTER
  timeout: 60000
  connect-timeout: 60000
  idle-connection-timeout: 32000
  retry-attempts: 2
  retry-interval: 4000
  keep-alive: true
  dns-monitoring-interval: -1
  ping-connection-interval: 300000
  executor-core-pool-size: 4
  executor-maximum-pool-size: 8
  executor-keep-alive-seconds: 64
  executor-blocking-queue-capacity: 128
  max-tryLock-waiting-millis: 10000


limit:
  replenish-rate: 1
  burst-capacity: 3


risk:
  illegal-expires-second: 10


request:
  valid-content-types: [ application/json ]
  max-uri-length: 256
  max-header-count: 16
  max-header-length: 2048
  max-content-length: 2048


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://172.16.202.219
    port: 2181
    username:
    password:
    file: /usr/env/log/dubbo/verify/registry.properties
    check: false
    timeout: 60000
    simplified: false
  #  metadata-report:
  #    address: zookeeper://172.16.202.219
  #    port: 2181
  #    username:
  #    password:
  #    timeout: 120000
  #    default: true
  #    check: false
  application:
    id: summer-verify
    name: summer-verify
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: true
  protocol:
    name: dubbo
    host: localhost
    port: 16000
    accesslog: /usr/env/log/dubbo/verify/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
    filter: blue
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


pulsar:
  services: [ 172.16.202.219:6650 ]
  enable-tls: false
  tlsTrust-certs-file-path:
  tls-cert-file-path:
  tls-key-file-path:
  tls-allow-insecure-connection:
  tls-hostname-verification-enable:
  listener-name:
  operation-timeout-millis: 30000
  statsInterval-millis: 60000
  io-threads: 1
  listener-threads: 1
  connections-per-broker: 1
  use-tcp-no-delay: true
  memory-limit-kilo-bytes: 512
  max-concurrent-lookup-requests: 60
  max-lookup-request: 50000
  max-lookup-redirects: 3
  max-number-of-rejected-request-per-connection: 50
  keep-alive-interval-millis: 30000
  connection-timeout-millis: 60000
  starting-backoff-interval-millis: 300
  max-backoff-interval-millis: 600
  enable-busy-wait: false
  clock-zone-id: Asia/Shanghai
  enable-transaction: false
  enable-proxy: false
  proxy-service-url:
  proxy-protocol: SNI


producers:
  configs:
    request-event:
      topic: requestEvent
      producer-name: verifyRequestEventProducer000
      access-mode: Shared
      send-timeout-millis: 30000
      max-pending-messages: 1000
      block-if-queue-full: false
      message-routing-mode: RoundRobinPartition
      compression-type: NONE
      enable-batching: true
      enable-chunking: false
      batching-max-publish-delay-millis: 1000
      round-robin-router-batching-partition-switch-frequency: 2
      batching-max-messages: 512
      batching-max-bytes: 512
      initial-sequence-id: 0
      auto-update-partitions: true
      auto-update-partitions-interval-millis: 30000
      enable-multi-schema: false
      hashing-schemes: [ JavaStringHash ]
      enable-encrypt: false
      encryption-key:
      producer-crypto-failure-action: FAIL
    verify-message:
      topic: verifyMessage
      producer-name: verifyMessageProducer000
      access-mode: Shared
      send-timeout-millis: 30000
      max-pending-messages: 1000
      block-if-queue-full: false
      message-routing-mode: RoundRobinPartition
      compression-type: NONE
      enable-batching: true
      enable-chunking: false
      batching-max-publish-delay-millis: 1000
      round-robin-router-batching-partition-switch-frequency: 2
      batching-max-messages: 512
      batching-max-bytes: 512
      initial-sequence-id: 0
      auto-update-partitions: true
      auto-update-partitions-interval-millis: 30000
      enable-multi-schema: false
      hashing-schemes: [ JavaStringHash ]
      enable-encrypt: false
      encryption-key:
      producer-crypto-failure-action: FAIL


consumers:
  configs:
    illegal-mark:
      topics: [ illegalMark ]
      topics-pattern:
      subscription-name: illegalMarkSubscription
      ack-timeout-millis: 2000
      enable-ack-receipt: true
      ack-timeout-tick-time-millis: 1000
      negative-ack-redelivery-delay-millis: 100
      subscription-type: Failover
      subscription-mode: Durable
      receiver-queue-size: 1000
      acknowledgements-group-time-millis: 100
      replicate-subscription-state: false
      max-total-receiver-queue-size-across-partitions: 5
      consumer-name: verifyIllegalMarkConsumer000
      read-compacted: false
      pattern-auto-discovery-period-millis: 1
      priority-level: 0
      subscription-initial-position: Latest
      regex-subscription-mode: PersistentOnly
      auto-update-partitions: true
      auto-update-partitions-interval-millis: 30000
      batch-receive-policy: DEFAULT_POLICY
      enable-retry: true
      enable-batch-index-acknowledgment: false
      max-pending-chunked-message: 10
      auto-ack-oldest-chunked-message-on-queue-full: true
      expire-time-of-incomplete-chunked-message-millis: 2000
      pool-messages: false
      enable-encrypt: false
      encryption-key:
      consumer-crypto-failure-action: FAIL
      enable-dead-letter: true
      dead-letter-topic: illegalMark
      retry-letter-topic: illegalMark
      max-redeliver-count: 1000
      start-message-id-inclusive: false
      enable-batch-receive: false
      batch-receive-max-num-messages: -1
      batch-receive-max-num-bytes: 10485760
      batch-receive-timeout-millis: 100
      poll-duration-mills: 1000
      working-threads: 2
      enable-negative-acknowledge: true
    verify-message:
      topics: [ verifyMessage ]
      topics-pattern:
      subscription-name: verifyMessageSubscription
      ack-timeout-millis: 2000
      enable-ack-receipt: true
      ack-timeout-tick-time-millis: 1000
      negative-ack-redelivery-delay-millis: 100
      subscription-type: Failover
      subscription-mode: Durable
      receiver-queue-size: 1000
      acknowledgements-group-time-millis: 100
      replicate-subscription-state: false
      max-total-receiver-queue-size-across-partitions: 5
      consumer-name: verifyMessageConsumer000
      read-compacted: false
      pattern-auto-discovery-period-millis: 1
      priority-level: 0
      subscription-initial-position: Latest
      regex-subscription-mode: PersistentOnly
      auto-update-partitions: true
      auto-update-partitions-interval-millis: 30000
      batch-receive-policy: DEFAULT_POLICY
      enable-retry: true
      enable-batch-index-acknowledgment: false
      max-pending-chunked-message: 10
      auto-ack-oldest-chunked-message-on-queue-full: true
      expire-time-of-incomplete-chunked-message-millis: 2000
      pool-messages: false
      enable-message-listener: false
      enable-consumer-event-listener: false
      enable-intercept: false
      interceptors:
      enable-encrypt: false
      encryption-key:
      consumer-crypto-failure-action: FAIL
      enable-dead-letter: true
      dead-letter-topic: verifyMessage
      retry-letter-topic: verifyMessage
      max-redeliver-count: 1000
      start-message-id-inclusive: false
      enable-batch-receive: false
      batch-receive-max-num-messages: -1
      batch-receive-max-num-bytes: 10485760
      batch-receive-timeout-millis: 100
      poll-duration-mills: 1000
      working-threads: 2
      enable-negative-acknowledge: true


verify:
  key-length: 16
  random-type: ALPHANUMERIC
  verify-length: 16
  min-length: 4
  max-length: 32
  expires-millis: 300000
  repeatable: true


image-verify:
  key-length: 16
  key-random-type: ALPHANUMERIC
  random-type: ALPHANUMERIC
  image-type: png
  verify-length: 7
  expires-millis: 300000
  allow: 10
  send-interval-millis: 30000

sms-verify:
  verify-length: 7
  expires-millis: 300000
  allow: 1
  send-interval-millis: 10000

mail-verify:
  verify-length: 7
  expires-millis: 300000
  allow: 1
  send-interval-millis: 10000

image:
  border: true
  border-color: green
  border-thickness: 1
  producer-impl: com.google.code.kaptcha.impl.DefaultKaptcha
  text-producer-impl: com.google.code.kaptcha.text.impl.DefaultTextCreator
  text-producer-char: blue summer
  text-producer-char-length: 5
  text-producer-font-names: Arial,Courier
  text-producer-font-size: 40
  text-producer-font-color: cyan
  text-producer-char-space: 2
  noise-impl: com.google.code.kaptcha.impl.DefaultNoise
  noise-color: cyan
  obscurificator-impl: com.google.code.kaptcha.impl.WaterRipple
  word-impl: com.google.code.kaptcha.text.impl.DefaultWordRenderer
  background-impl: com.google.code.kaptcha.impl.DefaultBackground
  background-clear-from: red
  background-clear-to: yellow
  image-width: 200
  image-height: 50

turing:
  allow: 5
  interval-millis: 12000000
  target-verify-types: [ SMS,MAIL ]

verify-template:
  cache-expires-second: 21600


sender:
  smtp-attrs:
    - user: yunfei0221@outlook.com
      password: Fei19890116
      props:
        mail.smtp.auth: true
        mail.smtp.host: smtp.office365.com
        mail.smtp.port: 587
        mail.smtp.ssl: true
        mail.smtp.starttls.enable: true
        mail.debug: true

  core-pool-size: 2
  maximum-pool-size: 8
  keep-alive-seconds: 64
  blocking-queue-capacity: 2048
  thread-name-pre: blue-mail-sender
  buffer-size: 4
  default-zone: 2
  throwable-for-retry: [ jakarta.mail.FolderClosedException ]
  retry-times: 1
  withDKIM: false
  domain-key-file: classpath:dkim/selector1.pem
  domain: outlook.com
  selector: selector1


debug: true