<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.member.repository.mapper.MemberBasicMapper">

    <resultMap id="BaseResultMap" type="com.blue.member.repository.entity.MemberBasic">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="email" jdbcType="VARCHAR" property="email"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="name" jdbcType="VARCHAR" property="name"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="profile" jdbcType="VARCHAR" property="profile"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , phone, email, name, icon, gender, `profile`, source, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.blue.member.repository.entity.MemberBasic">
        insert into member_basic (id, phone, email, name, icon,
                                  gender, `profile`, source, status,
                                  create_time, update_time)
        values (#{id,jdbcType=BIGINT},
                #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{icon,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
                #{profile,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{source,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT},
                #{updateTime,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.blue.member.repository.entity.MemberBasic">
        insert into member_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="profile != null">
                `profile`,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="profile != null">
                #{profile,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.blue.member.repository.entity.MemberBasic">
        update member_basic
        set phone       = #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            email       = #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            name        = #{name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            icon        = #{icon,jdbcType=VARCHAR},
            gender      = #{gender,jdbcType=TINYINT},
            `profile`   = #{profile,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            source      = #{source,jdbcType=VARCHAR},
            status      = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.member.repository.entity.MemberBasic">
        update member_basic
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="profile != null">
                `profile` =
                #{profile,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from member_basic
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateIcon">
        update member_basic
        set icon = #{icon,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateProfile">
        update member_basic
        set `profile` = #{profile,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateStatus">
        update member_basic
        set status = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member_basic
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_basic FORCE INDEX(idx_phone)
        WHERE
        `phone` = #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_basic FORCE INDEX(idx_email)
        WHERE
        `email` = #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_basic FORCE INDEX(idx_name)
        WHERE
        `name` = #{name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_basic
        WHERE
        id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <sql id="Member_Conditions">
        <if test="memberBasicCondition != null">
            <where>
                <if test="memberBasicCondition.id != null">
                    AND
                    id = #{memberBasicCondition.id,jdbcType=BIGINT}
                </if>
                <if test="memberBasicCondition.phone != null and memberBasicCondition.phone != ''">
                    AND
                    phone =
                    #{memberBasicCondition.phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="memberBasicCondition.email != null and memberBasicCondition.email != ''">
                    AND
                    email =
                    #{memberBasicCondition.email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="memberBasicCondition.name != null and memberBasicCondition.name != ''">
                    AND
                    name =
                    #{memberBasicCondition.name,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="memberBasicCondition.gender != null and memberBasicCondition.gender != ''">
                    AND
                    gender = #{memberBasicCondition.gender,jdbcType=TINYINT}
                </if>
                <if test="memberBasicCondition.source != null and memberBasicCondition.source != ''">
                    AND
                    source = #{memberBasicCondition.source,jdbcType=VARCHAR}
                </if>
                <if test="memberBasicCondition.status != null">
                    AND
                    status = #{memberBasicCondition.status,jdbcType=TINYINT}
                </if>
                <if test="memberBasicCondition.createTimeBegin != null">
                    AND
                    create_time &gt;= #{memberBasicCondition.createTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="memberBasicCondition.createTimeEnd != null">
                    AND
                    create_time &lt;= #{memberBasicCondition.createTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="memberBasicCondition.updateTimeBegin != null">
                    AND
                    update_time &gt;= #{memberBasicCondition.updateTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="memberBasicCondition.updateTimeEnd != null">
                    AND
                    update_time &lt;= #{memberBasicCondition.updateTimeEnd,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </sql>

    <select id="selectByLimitAndCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_basic
        <include refid="Member_Conditions"/>
        <if test="memberBasicCondition != null and memberBasicCondition.sortAttribute != null and memberBasicCondition.sortAttribute != '' and memberBasicCondition.sortType != null and memberBasicCondition.sortType != ''">
            ORDER BY
            ${memberBasicCondition.sortAttribute} ${memberBasicCondition.sortType}
        </if>
        LIMIT #{limit,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
    </select>

    <select id="countByCondition" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM
        member_basic
        <include refid="Member_Conditions"/>
    </select>

</mapper>