<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.member.repository.mapper.MemberAddressMapper">

    <resultMap id="BaseResultMap" type="com.blue.member.repository.entity.MemberAddress">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="member_name" jdbcType="VARCHAR" property="memberName"
                typeHandler="com.blue.database.type.EncodeStringTypeHandler"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"
                typeHandler="com.blue.database.type.EncodeStringTypeHandler"/>
        <result column="email" jdbcType="VARCHAR" property="email"
                typeHandler="com.blue.database.type.EncodeStringTypeHandler"/>
        <result column="country_id" jdbcType="BIGINT" property="countryId"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="state_id" jdbcType="BIGINT" property="stateId"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="area_id" jdbcType="BIGINT" property="countryId"/>
        <result column="area" jdbcType="VARCHAR" property="country"/>
        <result column="address" jdbcType="VARCHAR" property="address"
                typeHandler="com.blue.database.type.EncodeStringTypeHandler"/>
        <result column="reference" jdbcType="VARCHAR" property="reference"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , member_id, member_name, gender, phone, email, country_id, country, state_id, state, city_id, city, area_id, area, address,reference, extra, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.blue.member.repository.entity.MemberAddress">
        insert into member_address (id, member_id, member_name,
                                    gender, phone, email,
                                    country_id, country, state_id,
                                    state, city_id, city, area_id, area,
                                    address, reference, extra, status,
                                    create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT},
                #{memberName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
                #{gender,jdbcType=TINYINT},
                #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
                #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
                #{countryId,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{stateId,jdbcType=BIGINT},
                #{state,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT}, #{city,jdbcType=VARCHAR},
                #{areaId,jdbcType=BIGINT}, #{area,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
                #{reference,jdbcType=VARCHAR},
                #{extra,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT},
                #{updateTime,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.blue.member.repository.entity.MemberAddress">
        insert into member_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="memberName != null">
                member_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="countryId != null">
                country_id,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="stateId != null">
                state_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="reference != null">
                reference,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="memberName != null">
                #{memberName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="countryId != null">
                #{countryId,jdbcType=BIGINT},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="stateId != null">
                #{stateId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="reference != null">
                #{reference,jdbcType=VARCHAR},
            </if>
            <if test="extra != null">
                #{extra,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.blue.member.repository.entity.MemberAddress">
        update member_address
        set member_id   = #{memberId,jdbcType=BIGINT},
            member_name = #{memberName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            gender      = #{gender,jdbcType=TINYINT},
            phone       = #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            email       = #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            country_id  = #{countryId,jdbcType=BIGINT},
            country     = #{country,jdbcType=VARCHAR},
            state_id    = #{stateId,jdbcType=BIGINT},
            state       = #{state,jdbcType=VARCHAR},
            city_id     = #{cityId,jdbcType=BIGINT},
            city        = #{city,jdbcType=VARCHAR},
            area_id     = #{cityId,jdbcType=BIGINT},
            area        = #{city,jdbcType=VARCHAR},
            address     = #{address,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            reference   = #{reference,jdbcType=VARCHAR},
            extra       = #{extra,jdbcType=VARCHAR},
            status      = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.member.repository.entity.MemberAddress">
        update member_address
        <set>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="memberName != null">
                member_name =
                #{memberName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="countryId != null">
                country_id = #{countryId,jdbcType=BIGINT},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="stateId != null">
                state_id = #{stateId,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="city != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address =
                #{address,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler},
            </if>
            <if test="reference != null">
                reference = #{reference,jdbcType=VARCHAR},
            </if>
            <if test="extra != null">
                extra = #{extra,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from member_address
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member_address
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByMemberId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_address FORCE INDEX(idx_member)
        WHERE
        `member_id` = #{memberId,jdbcType=BIGINT}
    </select>

    <select id="countByMemberId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM member_address FORCE INDEX(idx_member)
        WHERE
            `member_id` = #{memberId,jdbcType=BIGINT}
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_address
        WHERE
        id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <sql id="Address_Conditions">
        <if test="memberAddressCondition != null">
            <where>
                <if test="memberAddressCondition.id != null">
                    AND
                    id = #{memberAddressCondition.id,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.memberId != null">
                    AND
                    member_id =
                    #{memberAddressCondition.memberId,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.memberName != null">
                    AND
                    member_name =
                    #{memberAddressCondition.memberName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler}
                </if>
                <if test="memberAddressCondition.gender != null">
                    AND
                    gender = #{memberAddressCondition.gender,jdbcType=TINYINT}
                </if>
                <if test="memberAddressCondition.phone != null">
                    AND
                    phone =
                    #{memberAddressCondition.phone,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler}
                </if>
                <if test="memberAddressCondition.email != null">
                    AND
                    email =
                    #{memberAddressCondition.email,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler}
                </if>
                <if test="memberAddressCondition.countryId != null">
                    AND
                    country_id = #{memberAddressCondition.countryId,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.stateId != null">
                    AND
                    state_id = #{memberAddressCondition.stateId,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.cityId != null">
                    AND
                    city_id = #{memberAddressCondition.cityId,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.address != null">
                    AND
                    address =
                    #{memberAddressCondition.address,jdbcType=VARCHAR,typeHandler=com.blue.database.type.EncodeStringTypeHandler}
                </if>
                <if test="memberAddressCondition.reference != null">
                    AND
                    reference =
                    #{memberAddressCondition.reference,jdbcType=VARCHAR}
                </if>
                <if test="memberAddressCondition.status != null">
                    AND
                    status = #{memberAddressCondition.status,jdbcType=TINYINT}
                </if>
                <if test="memberAddressCondition.createTimeBegin != null">
                    AND
                    create_time &gt;= #{memberAddressCondition.createTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.createTimeEnd != null">
                    AND
                    create_time &lt;= #{memberAddressCondition.createTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.updateTimeBegin != null">
                    AND
                    update_time &gt;= #{memberAddressCondition.updateTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="memberAddressCondition.updateTimeEnd != null">
                    AND
                    update_time &lt;= #{memberAddressCondition.updateTimeEnd,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </sql>

    <select id="selectByLimitAndCondition" resultMap="BaseResultMap"
            parameterType="com.blue.member.model.MemberAddressCondition">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        member_address
        <include refid="Address_Conditions"/>
        <if test="memberAddressCondition != null and memberAddressCondition.sortAttribute != null and memberAddressCondition.sortAttribute != '' and memberAddressCondition.sortType != null and memberAddressCondition.sortType != ''">
            ORDER BY
            ${memberBasicCondition.sortAttribute,jdbcType=VARCHAR} ${memberBasicCondition.sortType,jdbcType=VARCHAR}
        </if>
        LIMIT #{limit,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
    </select>

    <select id="countByCondition" resultType="java.lang.Long"
            parameterType="com.blue.member.model.MemberAddressCondition">
        SELECT COUNT(*)
        FROM
        member_address
        <include refid="Address_Conditions"/>
    </select>

</mapper>