<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.member.repository.mapper.RealNameMapper">

    <resultMap id="BaseResultMap" type="com.blue.member.repository.entity.RealName">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="nationality_id" jdbcType="BIGINT" property="nationalityId"/>
        <result column="ethnic" jdbcType="VARCHAR" property="ethnic"/>
        <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="residence_address" jdbcType="VARCHAR" property="residenceAddress"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="issuing_authority" jdbcType="VARCHAR" property="issuingAuthority"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="since_date" jdbcType="VARCHAR" property="sinceDate"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="expire_date" jdbcType="VARCHAR" property="expireDate"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"
                typeHandler="com.blue.database.type.StringColumnEncodeTypeHandler"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , member_id, real_name, gender, birthday, nationality_id, ethnic, id_card_no,
        residence_address, issuing_authority, since_date, expire_date, extra, status, create_time,
        update_time
    </sql>

    <insert id="insert" parameterType="com.blue.member.repository.entity.RealName">
        insert into real_name (id, member_id, real_name,
                               gender, birthday, nationality_id,
                               ethnic, id_card_no, residence_address,
                               issuing_authority, since_date, expire_date,
                               extra, status, create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT},
                #{realName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{gender,jdbcType=TINYINT},
                #{birthday,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{nationalityId,jdbcType=BIGINT}, #{ethnic,jdbcType=VARCHAR},
                #{idCardNo,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{residenceAddress,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{issuingAuthority,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{sinceDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{expireDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{extra,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
                #{status,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT},
                #{updateTime,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.blue.member.repository.entity.RealName">
        insert into real_name
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="nationalityId != null">
                nationality_id,
            </if>
            <if test="ethnic != null">
                ethnic,
            </if>
            <if test="idCardNo != null">
                id_card_no,
            </if>
            <if test="residenceAddress != null">
                residence_address,
            </if>
            <if test="issuingAuthority != null">
                issuing_authority,
            </if>
            <if test="sinceDate != null">
                since_date,
            </if>
            <if test="expireDate != null">
                expire_date,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="nationalityId != null">
                #{nationalityId,jdbcType=BIGINT},
            </if>
            <if test="ethnic != null">
                #{ethnic,jdbcType=VARCHAR},
            </if>
            <if test="idCardNo != null">
                #{idCardNo,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="residenceAddress != null">
                #{residenceAddress,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="issuingAuthority != null">
                #{issuingAuthority,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="sinceDate != null">
                #{sinceDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="expireDate != null">
                #{expireDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="extra != null">
                #{extra,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.blue.member.repository.entity.RealName">
        update real_name
        set member_id         = #{memberId,jdbcType=BIGINT},
            real_name         = #{realName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            gender            = #{gender,jdbcType=TINYINT},
            birthday          = #{birthday,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            nationality_id    = #{nationalityId,jdbcType=BIGINT},
            ethnic            = #{ethnic,jdbcType=VARCHAR},
            id_card_no        = #{idCardNo,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            residence_address = #{residenceAddress,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            issuing_authority = #{issuingAuthority,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            since_date        = #{sinceDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            expire_date       = #{expireDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            extra             = #{extra,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            status            = #{status,jdbcType=TINYINT},
            create_time       = #{createTime,jdbcType=BIGINT},
            update_time       = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.member.repository.entity.RealName">
        update real_name
        <set>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="realName != null">
                real_name =
                #{realName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="birthday != null">
                birthday =
                #{birthday,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="nationalityId != null">
                nationality_id = #{nationalityId,jdbcType=BIGINT},
            </if>
            <if test="ethnic != null">
                ethnic = #{ethnic,jdbcType=VARCHAR},
            </if>
            <if test="idCardNo != null">
                id_card_no =
                #{idCardNo,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="residenceAddress != null">
                residence_address =
                #{residenceAddress,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="issuingAuthority != null">
                issuing_authority =
                #{issuingAuthority,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="sinceDate != null">
                since_date =
                #{sinceDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="expireDate != null">
                expire_date =
                #{expireDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="extra != null">
                extra = #{extra,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from real_name
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateStatus">
        UPDATE real_name
        SET status      = #{status,jdbcType=TINYINT},
            update_time = #{updateTime,jdbcType=BIGINT}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from real_name
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectMemberIdByPrimaryKey" parameterType="java.lang.Long" resultType="java.lang.Long">
        select member_id
        from real_name
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByMemberId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        real_name FORCE INDEX(idx_member)
        WHERE
        `member_id` = #{memberId,jdbcType=BIGINT}
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        real_name
        WHERE
        id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectByMemberIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        real_name
        WHERE
        member_id IN
        <foreach collection="memberIds" open="(" close=")" separator="," item="memberId" index="index">
            #{memberId,jdbcType=BIGINT}
        </foreach>
    </select>

    <sql id="Real_Name_Conditions">
        <if test="realNameCondition != null">
            <where>
                <if test="realNameCondition.id != null">
                    AND
                    id = #{realNameCondition.id,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.memberId != null">
                    AND
                    member_id = #{realNameCondition.memberId,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.realName != null and realNameCondition.realName != ''">
                    AND
                    real_name =
                    #{realNameCondition.realName,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.gender != null">
                    AND
                    gender = #{realNameCondition.gender,jdbcType=TINYINT}
                </if>
                <if test="realNameCondition.birthday != null and realNameCondition.birthday != ''">
                    AND
                    birthday =
                    #{realNameCondition.birthday,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.nationalityId != null and realNameCondition.nationalityId != ''">
                    AND
                    nationality_id = #{realNameCondition.nationalityId,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.ethnic != null and realNameCondition.ethnic != ''">
                    AND
                    ethnic =
                    #{realNameCondition.ethnic,jdbcType=VARCHAR}
                </if>
                <if test="realNameCondition.idCardNo != null and realNameCondition.idCardNo != ''">
                    AND
                    id_card_no =
                    #{realNameCondition.idCardNo,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.residenceAddress != null and realNameCondition.residenceAddress != ''">
                    AND
                    residence_address = #{realNameCondition.residenceAddress,jdbcType=VARCHAR}
                </if>
                <if test="realNameCondition.issuingAuthority != null and realNameCondition.issuingAuthority != ''">
                    AND
                    issuing_authority =
                    #{realNameCondition.issuingAuthority,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.sinceDate != null and realNameCondition.sinceDate != ''">
                    AND
                    since_date =
                    #{realNameCondition.sinceDate,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.expireDate != null and realNameCondition.expireDate != ''">
                    AND
                    expire_date = #{realNameCondition.expireDate,jdbcType=VARCHAR}
                </if>
                <if test="realNameCondition.extra != null and realNameCondition.extra != ''">
                    AND
                    extra =
                    #{realNameCondition.extra,jdbcType=VARCHAR,typeHandler=com.blue.database.type.StringColumnEncodeTypeHandler}
                </if>
                <if test="realNameCondition.status != null">
                    AND
                    status = #{realNameCondition.status,jdbcType=TINYINT}
                </if>
                <if test="realNameCondition.createTimeBegin != null">
                    AND
                    create_time &gt;= #{realNameCondition.createTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.createTimeEnd != null">
                    AND
                    create_time &lt;= #{realNameCondition.createTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.updateTimeBegin != null">
                    AND
                    update_time &gt;= #{realNameCondition.updateTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="realNameCondition.updateTimeEnd != null">
                    AND
                    update_time &lt;= #{realNameCondition.updateTimeEnd,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </sql>

    <select id="selectByLimitAndCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        real_name
        <include refid="Real_Name_Conditions"/>
        <if test="realNameCondition != null and realNameCondition.sortAttribute != null and realNameCondition.sortAttribute != '' and realNameCondition.sortType != null and realNameCondition.sortType != ''">
            ORDER BY
            ${realNameCondition.sortAttribute} ${realNameCondition.sortType}
        </if>
        LIMIT #{limit,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
    </select>

    <select id="countByCondition" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM
        real_name
        <include refid="Real_Name_Conditions"/>
    </select>

</mapper>