<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.portal.repository.mapper.BulletinMapper">
    <resultMap id="BaseResultMap" type="com.blue.portal.repository.entity.Bulletin">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="link" jdbcType="VARCHAR" property="link"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="active_time" jdbcType="BIGINT" property="activeTime"/>
        <result column="expire_time" jdbcType="BIGINT" property="expireTime"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , title, content, link, type, status, priority, active_time, expire_time, create_time, update_time, creator,
        updater
    </sql>

    <insert id="insert" parameterType="com.blue.portal.repository.entity.Bulletin">
        insert into bulletin (id, title, content, link, type, status, priority,
                              active_time, expire_time, create_time,
                              update_time, creator, updater)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
                #{link,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
                #{priority,jdbcType=INTEGER}, #{activeTime,jdbcType=BIGINT}, #{expireTime,jdbcType=BIGINT},
                #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT},
                #{updater,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.blue.portal.repository.entity.Bulletin">
        insert into bulletin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="activeTime != null">
                active_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updater != null">
                updater,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=INTEGER},
            </if>
            <if test="activeTime != null">
                #{activeTime,jdbcType=BIGINT},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.blue.portal.repository.entity.Bulletin">
        update bulletin
        set title       = #{title,jdbcType=VARCHAR},
            content     = #{content,jdbcType=VARCHAR},
            link        = #{link,jdbcType=VARCHAR},
            type        = #{type,jdbcType=TINYINT},
            status      = #{status,jdbcType=TINYINT},
            priority    = #{priority,jdbcType=INTEGER},
            active_time = #{activeTime,jdbcType=BIGINT},
            expire_time = #{expireTime,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=BIGINT},
            creator     = #{creator,jdbcType=BIGINT},
            updater     = #{updater,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.portal.repository.entity.Bulletin">
        update bulletin
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="activeTime != null">
                active_time = #{activeTime,jdbcType=BIGINT},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from bulletin
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bulletin
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="select" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        bulletin
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        bulletin
        WHERE
        id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectAllPortalBulletinByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        bulletin FORCE INDEX(idx_active_expire_type_stat_pri)
        <where>
            <if test="currentStamp != null">
                AND
                active_time &lt;= #{currentStamp,jdbcType=BIGINT}
                AND
                expire_time &gt;= #{currentStamp,jdbcType=BIGINT}
            </if>
            <if test="type != null">
                AND
                type = #{type,jdbcType=TINYINT}
            </if>
            <if test="status != null">
                AND
                status = #{status,jdbcType=TINYINT}
            </if>
        </where>
        ORDER BY
        priority DESC
    </select>

    <sql id="Bulletin_Conditions">
        <if test="bulletinCondition != null">
            <where>
                <if test="bulletinCondition.id != null">
                    AND
                    id = #{bulletinCondition.id,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.title != null and bulletinCondition.title != ''">
                    AND
                    title LIKE #{bulletinCondition.title,jdbcType=VARCHAR}
                </if>
                <if test="bulletinCondition.link != null and bulletinCondition.link != ''">
                    AND
                    link LIKE #{bulletinCondition.link,jdbcType=VARCHAR}
                </if>
                <if test="bulletinCondition.type != null">
                    AND
                    type = #{bulletinCondition.type,jdbcType=TINYINT}
                </if>
                <if test="bulletinCondition.status != null">
                    AND
                    status = #{bulletinCondition.status,jdbcType=TINYINT}
                </if>
                <if test="bulletinCondition.activeTimeBegin != null">
                    AND
                    active_time &gt;= #{bulletinCondition.activeTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.activeTimeEnd != null">
                    AND
                    active_time &lt;= #{bulletinCondition.activeTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.expireTimeBegin != null">
                    AND
                    expire_time &gt;= #{bulletinCondition.activeTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.expireTimeEnd != null">
                    AND
                    expire_time &lt;= #{bulletinCondition.activeTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.createTimeBegin != null">
                    AND
                    create_time &gt;= #{attachmentCondition.createTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="bulletinCondition.createTimeEnd != null">
                    AND
                    create_time &lt;= #{attachmentCondition.createTimeEnd,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </sql>

    <select id="selectByLimitAndCondition" resultMap="BaseResultMap"
            parameterType="com.blue.portal.model.BulletinCondition">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        attachment
        <include refid="Bulletin_Conditions"/>
        <if test="bulletinCondition != null and bulletinCondition.sortAttribute != null and bulletinCondition.sortAttribute != '' and bulletinCondition.sortType != null and bulletinCondition.sortType != ''">
            ORDER BY
            ${attachmentCondition.sortAttribute} ${attachmentCondition.sortType}
        </if>
        LIMIT #{limit,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
    </select>

    <select id="countByCondition" resultType="java.lang.Long"
            parameterType="com.blue.portal.model.BulletinCondition">
        SELECT COUNT(*)
        FROM
        attachment
        <include refid="Bulletin_Conditions"/>
    </select>

</mapper>