server:
  address: 127.0.0.1
  port: 35000
  netty:
    connection-timeout: 6s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 60
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@172.16.207.11:3000/eureka/
    registry-fetch-interval-seconds: 60


data:
  shardingDatabases:
    - url: jdbc:mysql://172.16.207.11:3306/marketing_0
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maxPoolSize: 4
      minIdle: 2
      idleTimeout: 5
      connectionTestQuery: SELECT 1 FROM DUAL
      isReadOnly: false
      isAutoCommit: false

    - url: jdbc:mysql://172.16.207.11:3306/marketing_1
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maxPoolSize: 4
      minIdle: 2
      idleTimeout: 5
      connectionTestQuery: SELECT 1 FROM DUAL
      isReadOnly: false
      isAutoCommit: false
  shardingTables:
    - tableName: event_record
      shardingColumn: id

  shardingTableSizePerDataBase: 2
  dataCenterToDatabaseMappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  workerToTableMappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  broadcastTables: [ ]
  singleDatabasesWithTables:
    - url: jdbc:mysql://172.16.207.11:3306/marketing
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maxPoolSize: 4
      minIdle: 2
      idleTimeout: 5
      connectionTestQuery: SELECT 1 FROM DUAL
      isReadOnly: false
      isAutoCommit: false
      singleTables: [ reward,reward_date_relation,undo_log ]
  safeRowBoundsEnabled: false
  safeResultHandlerEnabled: false
  mapUnderscoreToCamelCase: true
  aggressiveLazyLoading: false
  multipleResultSetsEnabled: false
  useGeneratedKeys: false
  useColumnLabel: true
  cacheEnabled: false
  callSettersOnNulls: false
  useActualParamName: false
  returnInstanceForEmptyRow: false
  shrinkWhitespacesInSql: false
  nullableOnForEach: false
  localCacheScope: SESSION
  jdbcTypeForNull:
  defaultStatementTimeout: 30000
  defaultFetchSize: 100
  defaultResultSetType: DEFAULT
  defaultExecutorType: BATCH
  autoMappingBehavior: FULL
  autoMappingUnknownColumnBehavior: FAILING
  lazyLoadingEnabled: false
  mapperLocation: classpath:mapper/*.xml
  props:
    sql.show: true
    sql.simple: false
    executor.size: 128
    max.connections.size.per.query: 2
    check.table.metadata.enabled: true
    query.with.cipher.column: false
    xa.transaction.manager.type: Atomikos
  debugLogging: true


identity:
  dataCenter: 0
  worker: 0
  serviceName: blue-marketing
  bootSeconds: 1618790400
  bufferPower: 3
  paddingFactor: 50
  paddingCorePoolSize: 1
  paddingMaximumPoolSize: 2
  keepAliveSeconds: 128
  paddingBlockingQueueSize: 1024
  paddingScheduled: true
  paddingScheduledCorePoolSize: 2
  paddingScheduledInitialDelayMillis: 5000
  paddingScheduledDelayMillis: 15000


mongo:
  addressAttrs:
    - address: 172.16.207.11
      port: 27017
  auth: false
  authBase:
  userName:
  password:
  database: marketing
  retryReads: false
  retryWrites: false
  applicationName: blue-marketing
  uuidRepresentation: JAVA_LEGACY
  socketConnectTimeoutMillis: 60000
  socketReadTimeoutMillis: 60000
  socketReceiveBufferSize: 10000
  socketSendBufferSize: 256
  clusterConnectionMode: SINGLE
  clusterType: STANDALONE
  clusterLocalThresholdMillis: 60000
  serverSelectionTimeoutMillis: 60000
  poolMaxSize: 12
  poolMinSize: 2
  poolMaxWaitTimeMillis: 60000
  poolMaxConnectionLifeTimeMillis: 60000
  poolMaxConnectionIdleTimeMillis: 60000
  poolMaintenanceInitialDelayMillis: 60000
  poolMaintenanceFrequencyMillis: 60000


cache:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  host: 172.16.207.11
  port: 6379
  password:
  maxRedirects: 4
  minIdle: 4
  maxIdle: 64
  maxTotal: 128
  maxWaitMillis: 16
  autoReconnect: true
  bufferUsageRatio: 32.0
  cancelCommandsOnReconnectFailure: false
  pingBeforeActivateConnection: false
  requestQueueSize: 64
  publishOnScheduler: true
  tcpNoDelay: true
  connectTimeout: 10
  keepAlive: false
  suspendReconnectOnProtocolFailure: false
  fixedTimeout: 4
  commandTimeout: 4
  shutdownTimeout: 8
  shutdownQuietPeriod: 4
  entryTtl: 60


executor:
  corePoolSize: 4
  maximumPoolSize: 8
  keepAliveSeconds: 64
  blockingQueueCapacity: 128
  threadNamePre: blue-summer


message:
  messageLocation: classpath:i18n/message
  elementLocation: classpath:i18n/element


scheduler:
  threadCap: 4
  queuedTaskCap: 4096
  threadNamePre: blue-summer-scheduler
  ttlSeconds: 128


redisson:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  address: 172.16.207.11:6379
  password:
  scanInterval: 8000
  checkSlotsCoverage: false
  tcpNoDelay: true
  masterConnectionMinimumIdleSize: 2
  slaveConnectionMinimumIdleSize: 2
  masterConnectionPoolSize: 2
  slaveConnectionPoolSize: 2
  subscriptionConnectionMinimumIdleSize: 2
  subscriptionConnectionPoolSize: 2
  subscriptionsPerConnection: 2
  subscriptionMode: MASTER
  timeout: 60000
  connectTimeout: 60000
  idleConnectionTimeout: 32000
  retryAttempts: 2
  retryInterval: 4000
  keepAlive: true
  dnsMonitoringInterval: -1
  pingConnectionInterval: 300000
  executorCorePoolSize: 4
  executorMaximumPoolSize: 8
  executorKeepAliveSeconds: 64
  executorBlockingQueueCapacity: 128
  maxTryLockWaitingMillis: 10000


rewards:
  maxBlockingMillis: 5000
  maxBackup: 36


pulsar:
  services: [ 172.16.207.11:6650 ]
  enableTls: false
  tlsTrustCertsFilePath:
  tlsCertFilePath:
  tlsKeyFilePath:
  tlsAllowInsecureConnection:
  tlsHostnameVerificationEnable:
  listenerName:
  operationTimeoutMillis: 30000
  statsIntervalMillis: 60000
  ioThreads: 1
  listenerThreads: 1
  connectionsPerBroker: 1
  useTcpNoDelay: true
  memoryLimitKiloBytes: 512
  maxConcurrentLookupRequests: 60
  maxLookupRequest: 50000
  maxLookupRedirects: 3
  maxNumberOfRejectedRequestPerConnection: 50
  keepAliveIntervalMillis: 30000
  connectionTimeoutMillis: 60000
  startingBackoffIntervalMillis: 300
  maxBackoffIntervalMillis: 600
  enableBusyWait: false
  clockZoneId: Asia/Shanghai
  enableTransaction: false
  enableProxy: false
  proxyServiceUrl:
  proxyProtocol: SNI


producers:
  configs:
    refreshRewards:
      topic: refreshRewards
      producerName: refreshRewardsProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL
    marketing:
      topic: marketing
      producerName: marketingProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL


consumers:
  configs:
    refreshRewards:
      topics: [ refreshRewards ]
      topicsPattern:
      subscriptionName: refreshRewardsSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Shared
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: refreshRewardsConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: refreshRewards
      retryLetterTopic: refreshRewards
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true
    marketing:
      topics: [ marketing ]
      topicsPattern:
      subscriptionName: marketingSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: marketingConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: marketing
      retryLetterTopic: marketing
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true
    requestEvent:
      topics: [ requestEvent ]
      topicsPattern:
      subscriptionName: marketingRequestEventSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: marketingRequestEventSubscription
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: requestEvent
      retryLetterTopic: requestEvent
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://172.16.207.11
    port: 2181
    username:
    password:
    file: /usr/env/log/dubbo/marketing/registry.properties
    check: false
    timeout: 60000
    simplified: false
#  metadata-report:
#    address: zookeeper://172.16.207.11
#    port: 2181
#    username:
#    password:
#    timeout:
#    default: true
#    check: false
#    sync-report: false
#    report-metadata: false
  application:
    id: summer-marketing
    name: summer-marketing
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: true
  protocol:
    name: dubbo
    host: localhost
    port: 36000
    accesslog: /usr/env/log/dubbo/marketing/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


debug: true