server:
  address: 127.0.0.1
  port: 29000
  netty:
    connection-timeout: 6s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 60
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@172.16.207.11:3000/eureka/
    registry-fetch-interval-seconds: 60


data:
  shardingDatabases:
    - url: jdbc:mysql://172.16.207.11:3306/finance_0
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maxPoolSize: 4
      minIdle: 2
      idleTimeout: 5
      connectionTestQuery: SELECT 1 FROM DUAL
      isReadOnly: false
      isAutoCommit: false

    - url: jdbc:mysql://172.16.207.11:3306/finance_1
      dataBaseConf: useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driverClassName: com.mysql.cj.jdbc.Driver
      connectionTimeout: 120000
      maxLifetime: 1800000
      maxPoolSize: 4
      minIdle: 2
      idleTimeout: 5
      connectionTestQuery: SELECT 1 FROM DUAL
      isReadOnly: false
      isAutoCommit: false
  shardingTables:
    - tableName: finance_account
      shardingColumn: id

    - tableName: order
      shardingColumn: id

    - tableName: order_article
      shardingColumn: id

    - tableName: reference_amount
      shardingColumn: id

    - tableName: refund
      shardingColumn: id

    - tableName: organization
      shardingColumn: id

    - tableName: dynamic_handler
      shardingColumn: id

    - tableName: dynamic_resource
      shardingColumn: id
  shardingTableSizePerDataBase: 2
  dataCenterToDatabaseMappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  workerToTableMappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  forceWriteTables:
    - tableName: undo_log
      dataCenter: 0
      worker: 0
  broadcastTables: [ ]
  safeRowBoundsEnabled: false
  safeResultHandlerEnabled: false
  mapUnderscoreToCamelCase: true
  aggressiveLazyLoading: false
  multipleResultSetsEnabled: false
  useGeneratedKeys: false
  useColumnLabel: true
  cacheEnabled: false
  callSettersOnNulls: false
  useActualParamName: false
  returnInstanceForEmptyRow: false
  shrinkWhitespacesInSql: false
  nullableOnForEach: false
  localCacheScope: SESSION
  jdbcTypeForNull:
  defaultStatementTimeout: 30000
  defaultFetchSize: 100
  defaultResultSetType: DEFAULT
  defaultExecutorType: BATCH
  autoMappingBehavior: FULL
  autoMappingUnknownColumnBehavior: FAILING
  lazyLoadingEnabled: false
  mapperLocation: classpath:mapper/*.xml
  props:
    sql.show: true
    sql.simple: false
    executor.size: 128
    max.connections.size.per.query: 2
    check.table.metadata.enabled: true
    query.with.cipher.column: false
    xa.transaction.manager.type: Atomikos
  debugLogging: true


identity:
  dataCenter: 0
  worker: 0
  serviceName: blue-finance
  bootSeconds: 1618790400
  bufferPower: 3
  paddingFactor: 50
  paddingCorePoolSize: 1
  paddingMaximumPoolSize: 2
  keepAliveSeconds: 128
  paddingBlockingQueueSize: 1024
  paddingScheduled: true
  paddingScheduledCorePoolSize: 2
  paddingScheduledInitialDelayMillis: 5000
  paddingScheduledDelayMillis: 15000


mongo:
  addressAttrs:
    - address: 172.16.207.11
      port: 27017
  auth: false
  authBase: admin
  userName:
  password:
  database: finance
  retryReads: false
  retryWrites: false
  applicationName: blue-auth
  uuidRepresentation: JAVA_LEGACY
  socketConnectTimeoutMillis: 60000
  socketReadTimeoutMillis: 60000
  socketReceiveBufferSize: 10000
  socketSendBufferSize: 256
  clusterConnectionMode: SINGLE
  clusterType: STANDALONE
  clusterLocalThresholdMillis: 60000
  serverSelectionTimeoutMillis: 60000
  poolMaxSize: 12
  poolMinSize: 2
  poolMaxWaitTimeMillis: 60000
  poolMaxConnectionLifeTimeMillis: 60000
  poolMaxConnectionIdleTimeMillis: 60000
  poolMaintenanceInitialDelayMillis: 60000
  poolMaintenanceFrequencyMillis: 60000


es:
  esNodes:
    - server:
        host: localhost
        port: 9200
        schema: http
      boundServers: [ ]
      name: blue-es
      version: 8.4.0
      roles: [ ]
      attributes: [ ]

  defaultHeaders:
  pathPrefix: /
  strictDeprecationMode: false
  metaHeaderEnabled: false
  compressionEnabled: false


dynamicapi:
  path: /blue-finance/dynamic
  blockingMillis: 5000


seata:
  enabled: true
  application-id: finance_trans
  tx-service-group: summer_group
  enable-auto-data-source-proxy: false
  data-source-proxy-mode: AT
  use-jdk-proxy: false
  scan-packages: [ com.blue.finance.service.impl ]
  excludes-for-scanning:
  excludes-for-auto-proxying: com.zaxxer.hikari.HikariDataSource
  access-key:
  secret-key:
  client:
    rm:
      async-commit-buffer-limit: 10000
      report-retry-count: 5
      table-meta-check-enable: false
      table-meta-checker-interval: 60000
      report-success-enable: false
      saga-branch-register-enable: false
      saga-json-parser: jackson
      saga-retry-persist-mode-update: false
      saga-compensate-persist-mode-update: false
      tcc-action-interceptor-order: -2147482648
      branch-execution-timeout-XA: 60000
      connection-two-phase-hold-timeout-XA: 60000
      sql-parser-type: druid
      lock:
        retry-interval: 10
        retry-times: 30
        retry-policy-branch-rollback-on-conflict: true
    tm:
      commit-retry-count: 5
      rollback-retry-count: 5
      default-global-transaction-timeout: 60000
      degrade-check: false
      degrade-check-allow-times: 10
      degrade-check-period: 2000
      interceptor-order: -2147482648
    undo:
      data-validation: true
      log-serialization: jackson
      log-table: undo_log
      only-care-update-columns: true
      compress:
        enable: true
        type: zip
        threshold: 64k
    load-balance:
      type: RandomLoadBalance
      virtual-nodes: 10
  service:
    vgroup-mapping:
      summer_group: default
    group-list:
      default: 172.16.207.11:8091
    enable-degrade: false
    disable-global-transaction: false
  log:
    exception-rate: 100
  shutdown:
    wait: 3
  thread-factory:
    boss-thread-prefix: NettyBoss
    worker-thread-prefix: NettyServerNIOWorker
    server-executor-thread-prefix: NettyServerBizHandler
    share-boss-worker: false
    client-selector-thread-prefix: NettyClientSelector
    client-selector-thread-size: 1
    client-worker-thread-prefix: NettyClientWorkerThread
    boss-thread-size: 1
    worker-thread-size: default
  transport:
    type: TCP
    server: NIO
    heartbeat: true
    serialization: seata
    compressor: none
    enable-client-batch-send-request: false
    enable-tm-client-batch-send-request: false
    enable-rm-client-batch-send-request: false
    enable-tc-server-batch-send-response: false
    rpc-rm-request-timeout: 60000
    rpc-tm-request-timeout: 60000
    rpc-tc-request-timeout: 60000
  config:
    custom:
      name: ""
    type: zk
    zk:
      server-addr: 172.16.207.11:2181
      session-timeout: 60000
      connect-timeout: 60000
      username: ""
      password: ""
      nodePath: /seata/seata.properties
  registry:
    custom:
      name: ""
    type: zk
    zk:
      cluster: default
      server-addr: 172.16.207.11:2181
      session-timeout: 60000
      connect-timeout: 60000
      username: ""
      password: ""


cache:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  host: 172.16.207.11
  port: 6379
  password:
  maxRedirects: 4
  minIdle: 4
  maxIdle: 64
  maxTotal: 128
  maxWaitMillis: 16
  autoReconnect: true
  bufferUsageRatio: 32.0
  cancelCommandsOnReconnectFailure: false
  pingBeforeActivateConnection: false
  requestQueueSize: 64
  publishOnScheduler: true
  tcpNoDelay: true
  connectTimeout: 10
  keepAlive: false
  suspendReconnectOnProtocolFailure: false
  fixedTimeout: 4
  commandTimeout: 4
  shutdownTimeout: 8
  shutdownQuietPeriod: 4
  shareNativeConnection: false
  entryTtl: 60


executor:
  corePoolSize: 4
  maximumPoolSize: 8
  keepAliveSeconds: 64
  blockingQueueCapacity: 128
  threadNamePre: blue-summer


message:
  messageLocation: classpath:i18n/message
  elementLocation: classpath:i18n/element


scheduler:
  threadCap: 4
  queuedTaskCap: 4096
  threadNamePre: blue-summer-scheduler
  ttlSeconds: 128


curator:
  connectString: 172.16.207.11:2181
  connectionTimeoutMs: 60000
  sessionTimeoutMs: 60000
  maxCloseWaitMs: 12000
  namespace: finance
  retryBaseSleepTimeMs: 3000
  retryMaxSleepTimeMs: 5000
  retryMaxRetries: 2


redisson:
  serverMode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  address: 172.16.207.11:6379
  password:
  scanInterval: 8000
  checkSlotsCoverage: false
  tcpNoDelay: true
  masterConnectionMinimumIdleSize: 2
  slaveConnectionMinimumIdleSize: 2
  masterConnectionPoolSize: 2
  slaveConnectionPoolSize: 2
  subscriptionConnectionMinimumIdleSize: 2
  subscriptionConnectionPoolSize: 2
  subscriptionsPerConnection: 2
  subscriptionMode: MASTER
  timeout: 60000
  connectTimeout: 60000
  idleConnectionTimeout: 32000
  retryAttempts: 2
  retryInterval: 4000
  keepAlive: true
  dnsMonitoringInterval: -1
  pingConnectionInterval: 300000
  executorCorePoolSize: 4
  executorMaximumPoolSize: 8
  executorKeepAliveSeconds: 64
  executorBlockingQueueCapacity: 128
  maxTryLockWaitingMillis: 10000


rest:
  maxConnections: 64
  workerCount: 64
  useGlobalResources: false
  connectTimeoutMillis: 7000
  useTcpNoDelay: false
  protocols: [ HTTP11,H2,H2C ]
  responseTimeoutMillis: 3000
  readTimeoutMillis: 3000
  writeTimeoutMillis: 3000
  maxByteInMemorySize: 1048576


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://172.16.207.11
    port: 2181
    username:
    password:
    file: /usr/env/log/dubbo/finance/registry.properties
    check: false
    timeout: 60000
    simplified: false
  #  metadata-report:
  #    address: zookeeper://172.16.207.11
  #    port: 2181
  #    username:
  #    password:
  #    timeout:
  #    default: true
  #    check: false
  #    sync-report: false
  #    report-metadata: false
  application:
    id: summer-finance
    name: summer-finance
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: true
  protocol:
    name: dubbo
    host: localhost
    port: 30000
    accesslog: /usr/env/log/dubbo/finance/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


pulsar:
  services: [ 172.16.207.11:6650 ]
  enableTls: false
  tlsTrustCertsFilePath:
  tlsCertFilePath:
  tlsKeyFilePath:
  tlsAllowInsecureConnection:
  tlsHostnameVerificationEnable:
  listenerName:
  operationTimeoutMillis: 30000
  statsIntervalMillis: 60000
  ioThreads: 1
  listenerThreads: 1
  connectionsPerBroker: 1
  useTcpNoDelay: true
  memoryLimitKiloBytes: 512
  maxConcurrentLookupRequests: 60
  maxLookupRequest: 50000
  maxLookupRedirects: 3
  maxNumberOfRejectedRequestPerConnection: 50
  keepAliveIntervalMillis: 30000
  connectionTimeoutMillis: 60000
  startingBackoffIntervalMillis: 300
  maxBackoffIntervalMillis: 600
  enableBusyWait: false
  clockZoneId: Asia/Shanghai
  enableTransaction: false
  enableProxy: false
  proxyServiceUrl:
  proxyProtocol: SNI


producers:
  configs:
    financeFlow:
      topic: financeFlow
      producerName: financeFlowProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL
    orderSummaryInsert:
      topic: orderSummaryInsert
      producerName: orderSummaryInsertProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL
    orderSummaryUpdate:
      topic: orderSummaryUpdate
      producerName: orderSummaryUpdateProducer000
      accessMode: Shared
      sendTimeoutMillis: 30000
      maxPendingMessages: 1000
      blockIfQueueFull: false
      messageRoutingMode: RoundRobinPartition
      compressionType: NONE
      enableBatching: true
      enableChunking: false
      batchingMaxPublishDelayMillis: 1000
      roundRobinRouterBatchingPartitionSwitchFrequency: 2
      batchingMaxMessages: 512
      batchingMaxBytes: 512
      initialSequenceId: 0
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      enableMultiSchema: false
      hashingSchemes: [ JavaStringHash ]
      enableEncrypt: false
      encryptionKey:
      producerCryptoFailureAction: FAIL


consumers:
  configs:
    financeFlow:
      topics: [ financeFlow ]
      topicsPattern:
      subscriptionName: financeFlowSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: financeFlowConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: financeFlow
      retryLetterTopic: financeFlow
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true
    orderSummaryInsert:
      topics: [ orderSummaryInsert ]
      topicsPattern:
      subscriptionName: orderSummaryInsertSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: orderSummaryInsertConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: orderSummaryInsert
      retryLetterTopic: orderSummaryInsert
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true
    orderSummaryUpdate:
      topics: [ orderSummaryUpdate ]
      topicsPattern:
      subscriptionName: orderSummaryUpdateSubscription
      ackTimeoutMillis: 2000
      enableAckReceipt: true
      ackTimeoutTickTimeMillis: 1000
      negativeAckRedeliveryDelayMillis: 100
      subscriptionType: Failover
      subscriptionMode: Durable
      receiverQueueSize: 1000
      acknowledgementsGroupTimeMillis: 100
      replicateSubscriptionState: false
      maxTotalReceiverQueueSizeAcrossPartitions: 5
      consumerName: orderSummaryUpdateConsumer000
      readCompacted: false
      patternAutoDiscoveryPeriodMillis: 1
      priorityLevel: 0
      subscriptionInitialPosition: Latest
      regexSubscriptionMode: PersistentOnly
      autoUpdatePartitions: true
      autoUpdatePartitionsIntervalMillis: 30000
      batchReceivePolicy: DEFAULT_POLICY
      enableRetry: true
      enableBatchIndexAcknowledgment: false
      maxPendingChunkedMessage: 10
      autoAckOldestChunkedMessageOnQueueFull: true
      expireTimeOfIncompleteChunkedMessageMillis: 2000
      poolMessages: false
      enableEncrypt: false
      encryptionKey:
      consumerCryptoFailureAction: FAIL
      enableDeadLetter: true
      deadLetterTopic: orderSummaryUpdate
      retryLetterTopic: orderSummaryUpdate
      maxRedeliverCount: 1000
      startMessageIdInclusive: false
      enableBatchReceive: false
      batchReceiveMaxNumMessages: -1
      batchReceiveMaxNumBytes: 10485760
      batchReceiveTimeoutMillis: 100
      pollDurationMills: 1000
      workingThreads: 2
      enableNegativeAcknowledge: true


debug: true