<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.finance.repository.mapper.ReferenceAmountMapper">
    <resultMap id="BaseResultMap" type="com.blue.finance.repository.entity.ReferenceAmount">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="reference_id" jdbcType="BIGINT" property="referenceId"/>
        <result column="amount" jdbcType="BIGINT" property="amount"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , order_id, member_id, type, reference_id, amount, extra, detail, status, create_time,
    update_time
    </sql>

    <insert id="insert" parameterType="com.blue.finance.repository.entity.ReferenceAmount">
        insert into reference_amount (id, order_id, member_id,
                                      type, reference_id, amount,
                                      extra, detail, status,
                                      create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT},
                #{type,jdbcType=TINYINT}, #{referenceId,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT},
                #{extra,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
                #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO reference_amount (id, order_id, member_id,type, reference_id, amount,
            extra, detail, status, create_time, update_time)
            values
            <foreach collection="list" index="index" item="item" separator=",">
                (
                #{item.id,jdbcType=BIGINT},
                #{item.orderId,jdbcType=BIGINT},
                #{item.memberId,jdbcType=BIGINT},
                #{item.type,jdbcType=TINYINT},
                #{item.referenceId,jdbcType=BIGINT},
                #{item.amount,jdbcType=BIGINT},
                #{item.extra,jdbcType=VARCHAR},
                #{item.detail,jdbcType=VARCHAR},
                #{item.status,jdbcType=TINYINT},
                #{item.createTime,jdbcType=BIGINT},
                #{item.updateTime,jdbcType=BIGINT}
                )
            </foreach>
        </if>
    </insert>

    <insert id="insertSelective" parameterType="com.blue.finance.repository.entity.ReferenceAmount">
        insert into reference_amount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="referenceId != null">
                reference_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="referenceId != null">
                #{referenceId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
            <if test="extra != null">
                #{extra,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.blue.finance.repository.entity.ReferenceAmount">
        update reference_amount
        set order_id     = #{orderId,jdbcType=BIGINT},
            member_id    = #{memberId,jdbcType=BIGINT},
            type         = #{type,jdbcType=TINYINT},
            reference_id = #{referenceId,jdbcType=BIGINT},
            amount       = #{amount,jdbcType=BIGINT},
            extra        = #{extra,jdbcType=VARCHAR},
            detail       = #{detail,jdbcType=VARCHAR},
            status       = #{status,jdbcType=TINYINT},
            create_time  = #{createTime,jdbcType=BIGINT},
            update_time  = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.finance.repository.entity.ReferenceAmount">
        update reference_amount
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="referenceId != null">
                reference_id = #{referenceId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=BIGINT},
            </if>
            <if test="extra != null">
                extra = #{extra,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from reference_amount
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reference_amount
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByOrderId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        reference_amount FORCE INDEX(idx_order)
        WHERE
        order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        reference_amount
        WHERE
        id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

</mapper>