server:
  address: 127.0.0.1
  port: 25000
  netty:
    connection-timeout: 6s
    h2c-max-content-length: 0B
    initial-buffer-size: 128B
    max-chunk-size: 8KB
    max-initial-line-length: 4KB
    validate-headers: true
  http2:
    enabled: true
  error:
    path: /error
#  ssl:
#    client-auth: need
#    ciphers: [ ]
#    enabled-protocols: [ ]
#    key-alias:
#    key-password:
#    key-store:
#    key-store-password:
#    key-store-type:
#    key-store-provider:
#    trust-store:
#    trust-store-password:
#    trust-store-type:
#    trust-store-provider:
#    protocol: TLS


eureka:
  instance:
    prefer-ip-address: false
    lease-renewal-interval-in-seconds: 60
    instance-id: ${server.address}:${spring.application.name}:${server.port}
    hostname: ${server.address}
  client:
    service-url:
      defaultZone: http://blue:LiuZhiyi20200805@172.16.202.219:3000/eureka/
    registry-fetch-interval-seconds: 60


data:
  sharding-databases:
    - url: jdbc:mysql://172.16.202.219:3306/member_0
      database-conf: useAffectedRows=true&useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driver-class-name: com.mysql.cj.jdbc.Driver
      connection-timeout: 120000
      max-lifetime: 1800000
      max-pool-size: 4
      min-idle: 2
      idle-timeout: 5
      connection-test-query: SELECT 1 FROM DUAL
      is-read-only: false
      is-auto-commit: true

    - url: jdbc:mysql://172.16.202.219:3306/member_1
      database-conf: useAffectedRows=true&useSSL=true&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
      username: root
      password: 1024
      driver-class-name: com.mysql.cj.jdbc.Driver
      connection-timeout: 120000
      max-lifetime: 1800000
      max-pool-size: 4
      min-idle: 2
      idle-timeout: 5
      connection-test-query: SELECT 1 FROM DUAL
      is-read-only: false
      is-auto-commit: true
  sharding-tables:
    - table-name: member_basic
      sharding-column: id

    - table-name: member_business
      sharding-column: id

    - table-name: member_detail
      sharding-column: id

    - table-name: real_name
      sharding-column: id

  sharding-table-size-per-database: 2
  data-center-to-database-mappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  worker-to-table-mappings:
    - id: 0
      index: 0

    - id: 1
      index: 1
  force-write-tables:
    - table-name: undo_log
      data-center: 0
      worker: 0
  broadcast-tables: [ ]
  safe-row-bounds-enabled: false
  safe-result-handler-enabled: false
  map-underscore-to-camel-case: true
  aggressive-lazy-loading: false
  multiple-result-sets-enabled: false
  use-generated-keys: false
  use-column-label: true
  cache-enabled: false
  call-setters-on-nulls: false
  use-actual-param-name: false
  return-instance-for-empty-row: false
  shrink-whitespaces-in-sql: false
  nullable-on-for-each: false
  local-cache-scope: SESSION
  jdbc-type-for-null:
  default-statement-timeout: 30000
  default-fetch-size: 100
  default-result-set-type: DEFAULT
  default-executor-type: SIMPLE
  auto-mapping-behavior: FULL
  auto-mapping-unknown-column-behavior: FAILING
  lazy-loading-enabled: false
  mapper-location: classpath:mapper/*.xml
  props:
    sql.show: true
    sql.simple: false
    executor.size: 128
    max.connections.size.per.query: 2
    check.table.metadata.enabled: true
    query.with.cipher.column: false
    xa.transaction.manager.type: Atomikos
  debug-logging: true


identity:
  data-center: 0
  worker: 0
  service-name: blue-member
  boot-seconds: 1618790400
  buffer-power: 3
  padding-factor: 50
  padding-core-pool-size: 1
  padding-maximum-pool-size: 2
  keep-alive-seconds: 128
  padding-blocking-queue-size: 1024
  padding-scheduled: true
  padding-scheduled-core-pool-size: 2
  padding-scheduled-initial-delay-millis: 5000
  padding-scheduled-delay-millis: 15000


mongo:
  address-attrs:
    - address: 172.16.202.219
      port: 27017
  auth: false
  auth-base:
  user-name:
  password:
  database: member
  retry-reads: false
  retry-writes: false
  application-name: blue-member
  uuid-representation: JAVA_LEGACY
  socket-connect-timeout-millis: 60000
  socket-read-timeout-millis: 60000
  socket-receive-buffer-size: 10000
  socket-send-buffer-size: 256
  cluster-connection-mode: SINGLE
  cluster-type: STANDALONE
  cluster-local-threshold-millis: 60000
  server-selection-timeout-millis: 60000
  pool-max-size: 12
  pool-min-size: 2
  pool-max-wait-time-millis: 60000
  pool-max-connection-lifeTime-millis: 60000
  pool-max-connection-idle-time-millis: 60000
  pool-maintenance-initial-delay-millis: 60000
  pool-maintenance-frequency-millis: 60000


seata:
  enabled: true
  application-id: member_trans
  tx-service-group: summer_group
  enable-auto-data-source-proxy: false
  data-source-proxy-mode: AT
  use-jdk-proxy: false
  scan-packages: [ com.blue.member.service.impl ]
  excludes-for-scanning:
  excludes-for-auto-proxying: com.zaxxer.hikari.HikariDataSource
  access-key:
  secret-key:
  client:
    rm:
      async-commit-buffer-limit: 10000
      report-retry-count: 5
      table-meta-check-enable: false
      table-meta-checker-interval: 60000
      report-success-enable: false
      saga-branch-register-enable: false
      saga-json-parser: jackson
      saga-retry-persist-mode-update: false
      saga-compensate-persist-mode-update: false
      tcc-action-interceptor-order: -2147482648
      branch-execution-timeout-XA: 60000
      connection-two-phase-hold-timeout-XA: 60000
      sql-parser-type: druid
      lock:
        retry-interval: 10
        retry-times: 30
        retry-policy-branch-rollback-on-conflict: true
    tm:
      commit-retry-count: 5
      rollback-retry-count: 5
      default-global-transaction-timeout: 60000
      degrade-check: false
      degrade-check-allow-times: 10
      degrade-check-period: 2000
      interceptor-order: -2147482648
    undo:
      data-validation: true
      log-serialization: jackson
      log-table: undo_log
      only-care-update-columns: true
      compress:
        enable: true
        type: zip
        threshold: 64k
    load-balance:
      type: RandomLoadBalance
      virtual-nodes: 10
  service:
    vgroup-mapping:
      summer_group: default
    group-list:
      default: 172.16.202.219:8091
    enable-degrade: false
    disable-global-transaction: false
  log:
    exception-rate: 100
  shutdown:
    wait: 3
  thread-factory:
    boss-thread-prefix: NettyBoss
    worker-thread-prefix: NettyServerNIOWorker
    server-executor-thread-prefix: NettyServerBizHandler
    share-boss-worker: false
    client-selector-thread-prefix: NettyClientSelector
    client-selector-thread-size: 1
    client-worker-thread-prefix: NettyClientWorkerThread
    boss-thread-size: 1
    worker-thread-size: default
  transport:
    type: TCP
    server: NIO
    heartbeat: true
    serialization: seata
    compressor: none
    enable-client-batch-send-request: false
    enable-tm-client-batch-send-request: false
    enable-rm-client-batch-send-request: false
    enable-tc-server-batch-send-response: false
    rpc-rm-request-timeout: 60000
    rpc-tm-request-timeout: 60000
    rpc-tc-request-timeout: 60000
  config:
    custom:
      name: ""
    type: zk
    zk:
      server-addr: 172.16.202.219:2181
      session-timeout: 60000
      connect-timeout: 60000
      username: ""
      password: ""
      nodePath: /seata/seata.properties
  registry:
    custom:
      name: ""
    type: zk
    zk:
      cluster: default
      server-addr: 172.16.202.219:2181
      session-timeout: 60000
      connect-timeout: 60000
      username: ""
      password: ""


cache:
  server-mode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  address: 172.16.202.219:6379
  password:
  max-redirects: 4
  min-idle: 4
  max-idle: 64
  max-total: 128
  max-wait-millis: 16
  auto-reconnect: true
  buffer-usage-ratio: 32.0
  cancel-commands-on-reconnect-failure: false
  ping-before-activate-connection: false
  request-queue-size: 64
  publish-on-scheduler: true
  tcp-no-delay: true
  connect-timeout: 10
  keep-alive: false
  suspend-reconnect-on-protocol-failure: false
  command-timeout: 4
  shutdown-timeout: 8
  shutdown-quiet-period: 4
  entry-ttl: 60


executor:
  core-pool-size: 4
  maximum-pool-size: 8
  keep-alive-seconds: 64
  blocking-queue-capacity: 128
  thread-name-pre: blue-summer


message:
  message-location: classpath:i18n/message
  element-location: classpath:i18n/element


redisson:
  server-mode: SINGLE
  nodes: [ 172.20.20.2:6379,172.20.20.2:6380,172.20.20.3:6379,172.20.20.3:6380,172.20.20.4:6379,172.20.20.4:6380 ]
  address: 172.16.202.219:6379
  password:
  scan-interval: 8000
  check-slots-coverage: false
  tcp-no-delay: true
  master-connection-minimum-idle-size: 2
  slave-connection-minimum-idle-size: 2
  master-connection-pool-size: 2
  slave-connection-pool-size: 2
  subscription-connection-minimum-idle-size: 2
  subscription-connection-pool-size: 2
  subscriptions-per-connection: 2
  subscription-mode: MASTER
  timeout: 60000
  connect-timeout: 60000
  idle-connection-timeout: 32000
  retry-attempts: 2
  retry-interval: 4000
  keep-alive: true
  dns-monitoring-interval: -1
  ping-connection-interval: 300000
  executor-core-pool-size: 4
  executor-maximum-pool-size: 8
  executor-keep-alive-seconds: 64
  executor-blocking-queue-capacity: 128
  max-tryLock-waiting-millis: 10000


dubbo:
  registry:
    id: summer-registry
    client: curator
    protocol: zookeeper
    address: zookeeper://172.16.202.219
    port: 2181
    username:
    password:
    file: /usr/env/log/dubbo/member/registry.properties
    check: false
    timeout: 60000
    simplified: false
  #  metadata-report:
  #    address: zookeeper://172.16.202.219
  #    port: 2181
  #    username:
  #    password:
  #    timeout: 120000
  #    default: true
  #    check: false
  application:
    id: summer-member
    name: summer-member
    owner: blue
    organization: blue
    shutwait: 20s
    enable-file-cache: true
    qos-enable: false
  protocol:
    name: dubbo
    host: localhost
    port: 26000
    accesslog: /usr/env/log/dubbo/member/access.log
  provider:
    retries: 0
    timeout: 10000
    loadbalance: random
  consumer:
    retries: 0
    timeout: 10000
    loadbalance: random
    check: false


rest:
  max-connections: 64
  worker-count: 64
  use-global-resources: false
  connect-timeout-millis: 7000
  use-tcp-no-delay: false
  protocols: [ HTTP11,H2,H2C ]
  response-timeout-millis: 3000
  read-timeout-millis: 3000
  write-timeout-millis: 3000
  max-byte-in-memory-size: 1048576


validator-type:
  type: ali


member:
  cache-expires-second: 21600


address:
  max: 8


card:
  max: 8


pulsar:
  services: [ 172.16.202.219:6650 ]
  enable-tls: false
  tlsTrust-certs-file-path:
  tls-cert-file-path:
  tls-key-file-path:
  tls-allow-insecure-connection:
  tls-hostname-verification-enable:
  listener-name:
  operation-timeout-millis: 30000
  statsInterval-millis: 60000
  io-threads: 1
  listener-threads: 1
  connections-per-broker: 1
  use-tcp-no-delay: true
  memory-limit-kilo-bytes: 512
  max-concurrent-lookup-requests: 60
  max-lookup-request: 50000
  max-lookup-redirects: 3
  max-number-of-rejected-request-per-connection: 50
  keep-alive-interval-millis: 30000
  connection-timeout-millis: 60000
  starting-backoff-interval-millis: 300
  max-backoff-interval-millis: 600
  enable-busy-wait: false
  clock-zone-id: Asia/Shanghai
  enable-transaction: false
  enable-proxy: false
  proxy-service-url:
  proxy-protocol: SNI


producers:
  configs:
    invalid-auth:
      topic: invalidAuth
      producer-name: invalidAuthProducer000
      access-mode: Shared
      send-timeout-millis: 30000
      max-pending-messages: 1000
      block-if-queue-full: false
      message-routing-mode: RoundRobinPartition
      compression-type: NONE
      enable-batching: true
      enable-chunking: false
      batching-max-publish-delay-millis: 1000
      round-robin-router-batching-partition-switch-frequency: 2
      batching-max-messages: 512
      batching-max-bytes: 512
      initial-sequence-id: 0
      auto-update-partitions: true
      auto-update-partitions-interval-millis: 30000
      enable-multi-schema: false
      hashing-schemes: [ JavaStringHash ]
      enable-encrypt: false
      encryption-key:
      producer-crypto-failure-action: FAIL


encode:
  salt: I'm a salt :)


debug: true