<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.base.repository.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.blue.base.repository.entity.Dict">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dict_type_id" jdbcType="BIGINT" property="dictTypeId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , dict_type_id, name, value, create_time, update_time, creator, updater
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dict
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from dict
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.blue.base.repository.entity.Dict">
        insert into dict (id, dict_type_id, name,
                          value, create_time, update_time,
                          creator, updater)
        values (#{id,jdbcType=BIGINT}, #{dictTypeId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
                #{value,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT},
                #{creator,jdbcType=BIGINT}, #{updater,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.blue.base.repository.entity.Dict">
        insert into dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dictTypeId != null">
                dict_type_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updater != null">
                updater,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dictTypeId != null">
                #{dictTypeId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.base.repository.entity.Dict">
        update dict
        <set>
            <if test="dictTypeId != null">
                dict_type_id = #{dictTypeId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                value = #{value,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.blue.base.repository.entity.Dict">
        update dict
        set dict_type_id = #{dictTypeId,jdbcType=BIGINT},
            name         = #{name,jdbcType=VARCHAR},
            value        = #{value,jdbcType=VARCHAR},
            create_time  = #{createTime,jdbcType=BIGINT},
            update_time  = #{updateTime,jdbcType=BIGINT},
            creator      = #{creator,jdbcType=BIGINT},
            updater      = #{updater,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listDict" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        dict;
    </select>

    <select id="listDictByDictTypeId" resultMap="BaseResultMap">
        <if test="dictTypeId != null and dictTypeId > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            dict
            WHERE
            dict_type_id = #{dictTypeId,jdbcType=BIGINT};
        </if>
    </select>

</mapper>