<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.secure.repository.mapper.MemberRoleRelationMapper">
    <resultMap id="BaseResultMap" type="com.blue.secure.repository.entity.MemberRoleRelation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , member_id, role_id, create_time, update_time, creator, updater
    </sql>

    <insert id="insertSelective" parameterType="com.blue.secure.repository.entity.MemberRoleRelation">
        insert into member_role_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updater != null">
                updater,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.blue.secure.repository.entity.MemberRoleRelation">
        update member_role_relation
        <set>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=BIGINT},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getRoleIdByMemberId" parameterType="java.lang.Long" resultType="java.lang.Long">
        <if test="memberId != null and memberId > 0">
            SELECT
            role_id
            FROM
            member_role_relation FORCE INDEX(idx_member_role)
            WHERE
            member_id = #{memberId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="getByMemberId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <if test="memberId != null and memberId > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            member_role_relation FORCE INDEX(idx_member_role)
            WHERE
            member_id = #{memberId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectByMemberIds" resultMap="BaseResultMap">
        <if test="memberIds != null and memberIds.size > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            member_role_relation FORCE INDEX(idx_member_role)
            WHERE
            member_id IN
            <foreach collection="memberIds" open="(" close=")" separator="," item="memberId" index="index">
                #{memberId,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

</mapper>