<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.secure.repository.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.blue.secure.repository.entity.Resource">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="authenticate" jdbcType="BIT" property="authenticate"/>
        <result column="pre_un_decryption" jdbcType="BIT" property="preUnDecryption"/>
        <result column="post_un_encryption" jdbcType="BIT" property="postUnEncryption"/>
        <result column="existence_request_body" jdbcType="BIT" property="existenceRequestBody"/>
        <result column="existence_response_body" jdbcType="BIT" property="existenceResponseBody"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`
        , `request_method`,`module`, `uri`, `authenticate`, `pre_un_decryption`, `post_un_encryption`, `existence_request_body`, `existence_response_body`, `type`, `name`, `description`, `create_time`, `update_time`, `creator`, `updater`
    </sql>

    <select id="listResource" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        resource;
    </select>

    <select id="listResourceByIds" resultMap="BaseResultMap">
        <if test="ids != null and ids.size > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            resource
            WHERE
            id IN
            <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
                #{id,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

</mapper>