<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.blue.secure.repository.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.blue.secure.repository.entity.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_default" jdbcType="BIT" property="isDefault"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , name, description, is_default, create_time, update_time, creator, updater
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="select" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        role
    </select>

    <select id="selectRoleByIds" resultMap="BaseResultMap">
        <if test="ids != null and ids.size > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            role
            WHERE
            id IN
            <foreach collection="ids" open="(" close=")" separator="," item="id" index="index">
                #{id,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <sql id="Role_Conditions">
        <if test="roleCondition != null">
            <where>
                <if test="roleCondition.id != null">
                    AND
                    id = #{roleCondition.id,jdbcType=BIGINT}
                </if>
                <if test="roleCondition.name != null">
                    AND
                    name =
                    #{roleCondition.name,jdbcType=VARCHAR}
                </if>
                <if test="roleCondition.createTimeBegin != null">
                    AND
                    create_time &gt;= #{roleCondition.createTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="roleCondition.createTimeEnd != null">
                    AND
                    create_time &lt;= #{roleCondition.createTimeEnd,jdbcType=BIGINT}
                </if>
                <if test="roleCondition.updateTimeBegin != null">
                    AND
                    update_time &gt;= #{roleCondition.updateTimeBegin,jdbcType=BIGINT}
                </if>
                <if test="roleCondition.updateTimeEnd != null">
                    AND
                    update_time &lt;= #{roleCondition.updateTimeEnd,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </sql>

    <select id="selectByLimitAndCondition" resultMap="BaseResultMap"
            parameterType="com.blue.secure.model.RoleCondition">
        <if test="limit != null and limit >= 0 and rows != null and rows > 0">
            SELECT
            <include refid="Base_Column_List"/>
            FROM
            role
            <include refid="Role_Conditions"/>
            <if test="roleCondition.sortAttribute != null and roleCondition.sortAttribute != '' and roleCondition.sortType != null and roleCondition.sortType != ''">
                ORDER BY
                ${roleCondition.sortAttribute,jdbcType=VARCHAR} ${roleCondition.sortType,jdbcType=VARCHAR}
            </if>
            LIMIT #{limit,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
        </if>
    </select>

    <select id="countByCondition" resultType="java.lang.Long"
            parameterType="com.blue.secure.model.RoleCondition">
        SELECT COUNT(*)
        FROM
        role
        <include refid="Role_Conditions"/>
    </select>

</mapper>